# Environment Deployment Stage Template
# Handles deployment to a specific environment (dev, test, prd)

parameters:
  - name: environmentName
    type: string
  - name: azureSubscription
    type: string
  - name: appName
    type: string
  - name: slotName
    type: string
    default: 'staging'
  - name: artifactName
    type: string
  - name: resourceGroup
    type: string
  - name: appType
    type: string
    default: 'webApp'  # webApp or functionApp
  - name: dependsOn
    type: object
    default: []
  - name: condition
    type: string
    default: 'succeeded()'

stages:
  - stage: Deploy_${{ parameters.environmentName }}
    displayName: 'Deploy to ${{ parameters.environmentName }}'
    dependsOn: ${{ parameters.dependsOn }}
    condition: and(succeeded(), ${{ parameters.condition }})
    jobs:
      - deployment: Deploy
        displayName: 'Deploy to ${{ parameters.environmentName }}'
        environment: '${{ parameters.environmentName }}'
        variables:
          resourceGroup: '${{ parameters.resourceGroup }}'
        strategy:
          runOnce:
            deploy:
              steps:
                - ${{ if eq(parameters.appType, 'webApp') }}:
                  - template: deploy-webapp-template.yml
                    parameters:
                      azureSubscription: '${{ parameters.azureSubscription }}'
                      appName: '${{ parameters.appName }}'
                      slotName: '${{ parameters.slotName }}'
                      artifactName: '${{ parameters.artifactName }}'
                
                - ${{ if eq(parameters.appType, 'functionApp') }}:
                  - template: deploy-functionapp-template.yml
                    parameters:
                      azureSubscription: '${{ parameters.azureSubscription }}'
                      appName: '${{ parameters.appName }}'
                      slotName: '${{ parameters.slotName }}'
                      artifactName: '${{ parameters.artifactName }}'
